.idea
/chain/chain_data/*
/chain/bins/*
/docker/chain_data_bos/*
/docker/chain_data_eos/*
/docker/config_eos/protocol_features
/hosts/*


/hyperion_env/elasticsearch
/hyperion_env/eosio/data
/hyperion_env/rabbitmq


